
<div>
	<div style="position: absolute;right: 16px;border: 2px solid red;">
		<img id="imageCar" src="assets/images/ks.jpg" width="100px" height="100px" >
	</div>
	<canvas (mousedown)='MouseDownInCanvas($event)' (mouseup)='MouseUpInCanvas($event)' (mousemove)='MouseMoveInCanvas($event)' mouseWheel (mouseWheelUp)="MouseWheelUpFunc(event)" (mouseWheelDown)="MouseWheelDownFunc(event)" id="myCanvas" width="700" height="500" style="border: 1px solid #ddd;min-width: 100%;max-height: 800px;cursor: crosshair;"> </canvas>
</div>
