
<div>
	<div style="position: absolute;right: 0px;border: 2px solid red;">
		<img id="imageCar" src="assets/images/ks.jpg" width="100px" height="100px" >
	</div>
	<canvas tabindex="10" (keyup)="Keyup($event)" (dblclick)="MouseDoubleClick()" (mousedown)='MouseDownInCanvas($event)' (mouseup)='MouseUpInCanvas($event)' (mousemove)='MouseMoveInCanvas($event)' mouseWheel (mouseWheelUp)="MouseWheelUpFunc($event)" (mouseWheelDown)="MouseWheelDownFunc($event)" id="myCanvas" width="2000" height="1000" style="border: 1px solid #ddd;min-width: 100%;cursor: crosshair;"> </canvas>
</div>